# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE project configs
*CMakeLists.txt.user
*.vscode

# Build folders
/build*
/install*

# Edit files
*~
*.bak

# OS files
.DS_Store

# custom clang-format
source/**/*.clang-format
examples/**/*.clang-format
/tools/local-clang-format
/format-original.txt
/format-modified.txt
examples/standalone*
